<mat-nav-list>
    <div class="profile-card">
  
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/59/User-avatar.svg" alt="Avatar" class="avatar"> 
        <div class="header">
            <h1>Ngash Danche</h1>
            <h4>Ngash@email.com</h4>
        </div>
    </div>
    <h2 matSubheader>
        pages
    </h2>
    <a mat-list-item routerLink="list-item-active" routerLink="/" href="">Vacancies</a>
    <a mat-list-item routerLink="list-item-active" routerLink="/addVacancy" href="">Add vacancy</a>

    <mat-divider></mat-divider>
    <h2 matSubheader>Tools</h2>
    <!-- <a mat-list-item routerLink="list-item-active" routerLink="/contacts" href="">
        <mat-icon>import_contacts</mat-icon>
        contacts
    </a> -->
    <!-- <a mat-list-item routerLink="list-item-active" routerLink="/contacts" href="">
        <mat-icon>contact_phone</mat-icon>
    </a> -->
</mat-nav-list>